.search-form {
    margin: 1rem;
}

#form-button {
    margin: .5rem;
}

.search-bar-container {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: rgb(255,255,255,.75);
    z-index: 1;
    padding: 0 1.5rem;
}

#pagination-btns {
    justify-content: center;
    position: relative;
}

.results-container {
    margin-bottom: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.recipe-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem;
    width: 350px;
    background: rgb(255,255,255,.85);
    margin: .5rem;
    border-radius: 10px;
}

.recipe-item img {
    border-radius: 10px 10px 0 0;
}